.cardsContainer {
    margin: 2rem;
    display: grid;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    text-decoration: none;
  }