.movie {
    height: 25rem;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
    text-decoration: none;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  